@inject HttpClient Http

<h3>ListaProduto</h3>

<ul class="list-unstyled">
    @foreach (var produto in Produtos)
    {
        <li class="media my-3">
            <div class="media-img-wrapper mr-2">
                <a href="#">
                    <img class="media-img" src="@produto.ImageUrl" alt="@produto.Titulo" />
                </a>
            </div>
            <div class="media-body">
                <a href="#">
                    <h4 class="mb-0">@produto.Titulo</h4>
                </a>
                <p>@produto.Descricao</p>
                <h5 class="price">
                    $@produto.Preco
                </h5>
            </div>
        </li>
    }
</ul>

@code {
    private static List<Produto> Produtos = new List<Produto>();

    protected override async Task OnInitializedAsync()
    {
        var result = await Http.GetFromJsonAsync<List<Produto>>("api/Produto");

        if (result != null)
        {
            Produtos = result;
        }
    }

}
